table{
    /* margin: 10px 10px 10px 10px; */
    border-collapse: collapse;
    width: 99%;
}

thead{
    background-color: rgb(206, 206, 206);
}

th,td{
    /* border-collapse: collapse; */
    border: 1px solid black;
    text-align: center;
}

#add_student{
    margin: 15px;
}