* {
  margin: 0px;
  padding: 0px;
}

.sect-head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
}

.head {
  padding-top: 1%;
  display: flex;
  height: 50px;
  /* width: 100%; */
  /* overflow-x: hidden; */
  justify-content: center;
  /* margin: 5px; */
  /* padding-top: 10px; */
  /* padding-right: 10px; */
  align-items: center;
  background-color: #fff;
}

.left-logo {
  justify-content: start;
  width: 5%;
  height: 100%;
}
/* 
.nav1 {
  width: 80%;
  height: 100%;
} */

.btn1 {
  display: flex;
  padding: 5%;
  text-align: end;
  /* width: fit-content; */
  height: 100%;
}

.l1 {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 1%;
}
.navbar li {
  list-style: none;
  gap: 20px;
}
.navbar a {
  color: black;
  text-decoration: none;
}
.navbar a:hover {
  font-weight: 800;
  text-decoration: underline;
}
.navbar ul {
  gap: 20px;
}

#sign {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  width: fit-content;
}

#book {
  background-color: #8158EC;
  color: white;
  font-weight: bold;
  border-color: #8158EC;
  border-radius: 2px;
  padding: 8px;
  width: fit-content;
}

.sect1{
  width: 100%;
  display: flex;
  justify-content: center;
}

.section1a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1b{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFEFBE;
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 170px;
}

.written {
  display: flex;
  flex-direction: column;
  /* height: 473px; */
  width: 635px;
  margin-top: 55px;
  gap: 24px;
}

.w1 {
  font-size: 56px;
  font-weight: 800;
  /* width: 100%; */
  /* height: 201px; */
  font-family: sans-serif;
  gap: 24px;
}

.w2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
  /* width: 100%; */
  /* height: 100%; */
  /* gap: 0px; */
}


#try {
  background-color: #FFC926;
  padding: 16px 24px;
  border-radius: 4px;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 0px;
  gap: 16px;
  /* height: 271px; */
  align-items: center;
}

#mass-text {
  width: 389px;
  height: 48px;
}
#mass-text h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
}

#text {
  width: 920px;
  height: 87px;
}
#text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

.section3 {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #000;
  gap: 40px;
  align-items: center;
  padding: 60px 165px;
}

.sect3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 75em;
  gap: 20px;
  /* height: fit-content; */
}

.sect4{
  display: flex;
  justify-content: center;
  width: 90rem;
}

.section3a {
  height: 132px;
  /* width: 100%; */
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.section3a #p1 {
  font-weight: 800;
  font-size: 32px;
  /* height: 38px; */
  text-align: center;
  line-height: 38px;
}
.section3a #p2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  height: 78px;
}

.section3b {
  height: 124px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 70px 70px 8px 70px;
}

.t1 {
  width: 350px;
  height: 124px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.t1 .tt {
  width: 38.22px;
  height: 48px;
}
.t1 .tt img {
  width: 100%;
  height: 100%;
}
.t1 .tt1 {
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
}
.t1 .tt1 .line1 {
  font-size: 26px;
  font-weight: 700px;
}
.t1 .tt1 .line2 {
  font-weight: 400;
  font-size: 20px;
}

.section3c {
  text-align: center;
  width: 157px;
  height: 50px;
  gap: 24px;
}
.section3c #btn3 {
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #FFC926;
}

.section4 {
  margin: 40px 40px;
  display: flex;
  justify-content: space-between ;
  height: 373px;
  gap: 60px;
  justify-content: space-evenly;
  /* background-color: red; */
}

.section4a {
  border-radius: 25px;
  width: 50%;
  margin-left: 15%;
  height: 370px;
  position: relative;
  /* transform: translateY(25%); */
  background-color: #fff;
}


.section4b {
  border-radius: 25px;
  width: 50%;
  height: 370px;
  position: relative;
  /* border: 2px solid red; */
  background-color: #fff;
}

.s4-2 {
  /* height: 178px; */
  width: 445px;
  gap: 20px;
  transform: translateY(50%);
  position: absolute;
  padding-right: 29px;

}

#p1 {
  height: 38px;
  line-height: 38px;
  font-size: 32px;
  font-weight: 800;
}

#p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form1 {
  width: 280px;
  height: 325px;
  border-radius: 16px;
  gap: 12px;
  padding: 24px 32px;
  background-color: #8158EC;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px;
}

.input1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  height: 43px;
  gap: 2px;
  padding-bottom: 4px;
  border-bottom: 1px solid #FFC926;
}

.input2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  gap: 2px;
  padding-bottom: 4px;
  border-bottom: 1px solid #FFC926;
}


input{
  background-color: #8158EC;
  font-family: 700;
  line-height: 14px;
  border: none;
}

input::placeholder{
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}


#sendMsg::placeholder{
  color: white;
  font-size : 14px;
  font-weight: 700;
  line-height: 14px;  
}

textarea{
  background-color: #8158EC;
  color: #fff;
  border: none;
  font-size : 14px;
  font-weight: 700;
  line-height: 14px;

}

textarea::placeholder{
  font-size : 14px;
  font-weight: 700;
  line-height: 14px;
  overflow-y: hidden;
}

label{
  font-weight: 700;
  line-height: 16px;
  color: #FFC926;
  font-size: 12px;

}

.input3{
  display: flex;
  color: white;
  font-size: 14px;
  font-family: 700;
  align-items: flex-start;
  padding-bottom: 4px;
  height: 38px;
  gap: 8px;
}



#formHead
{
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  height: 24px;
  color: #fff;
}













/*# sourceMappingURL=style.css.map */
.main{
  height: 431.06px;
  width: 445px;
  background-color: #FFEFBE;
  position: relative;
  
}

.main-2{
  background-color: #FFD967;
  height: 340px;
  width: 365px;
  border: 2px solid black;
  left: 870px;
  border-radius: 32px 32px 3px 32px;
  /* border-color: 1.93px solid black; */
  margin: 10%;
  display: flex;
  flex-direction: column;
}

.box-1{
  position: absolute;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 86px;
  gap: 4px;
  top: 15%;
  transform: translateX(-10%);
  align-items: end;
  
}

.d1{
  /* width: 91px; */
  /* height: 18px; */
  /* overflow: hidden; */
  /* margin: 0px; */
  /* padding: 0px; */
}

.d1 p{
  font-weight: 400;
  font-size: 10px;


}

.d2{
  width: 300px;
  background-color: white;
  height: 64px;
  align-items: center;
  display: flex;
  border: 1px solid black;
  border-radius: 41px;
  box-shadow: #8158EC 6px 6px;

}

.d2-1{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 3.2px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
}

.d2-1a{
  display: flex;
  justify-content: center;
  align-items: center;

}
.d2-1a img{
  width: 33.6px;
  height: 33.6px;
  border-radius: 50%;
}

.d2-2{
  width: 228px;
  height: fit-content;
  font-family: 400px;
  font-size: 12px;
  line-height: 18px;

}

#ben{
  font-weight: 700;
}

.box2{
  position: absolute;
  width: 100%;
  height: 107px;
  /* border: 1px solid black; */
  gap: 4px;
  display: flex;
  flex-direction: column;
  transform:translateX(-10%) translateY(100%);
  align-items: end;
}



.box2-d2{
  width: 437px;
  background-color: white;
  height: 82px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 41px;
  box-shadow: #8158EC 6px 6px;

}

.box2-d2-1{
  width: 50px;
  height: 45px;
  border-radius: 25px;
  padding: 4px;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
}

.box-d2-1a{
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* .box-d2-1a img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.box-d2-1 img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
} */

#img{
  margin-top: 6%;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.box-d2-2{
  width: 228px;
  height: fit-content;

}

.box2-d2-2 p{
  font-family: 400px;
  font-size: 15px;
  line-height: 24px;
}

.box2-d1{
  height: 21px;
  width: 106px;
}

.box2-d1 p{
  font-weight: 400;
  font-size: 10px;
  text-align: center;
}

#jessica{
  font-weight: 700;
}


.box3{
  position: absolute;
  width: 293px;
  height: 86px;
  top: 65%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  left: 18%;
  align-items: end;
}

.box3-d1{
  height: 18px;
  width: fit-content;
}

.box3-d2-1{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
}

.box3-d2{
  display: flex;;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  gap: 8px;
  padding: 5px;
  border-radius: 41px 41px;
  box-shadow: #78FBC0 6px 6px;
}


.box3-d1 p{
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.box3-d2-2{
  width: 221x;
  height: fit-content;

}
#img2{
  width: 33.6px;
  height: 33.6px;
  border-radius: 50%;
  margin-top: 10%;

}

.box3-d2-2 p{
  font-family: 400px;
  font-size: 12px;
  line-height: 18px;
}

#sandra{
  font-weight: 700;
}


